.home-page-title{
    
    text-align: center;
    font-family:sans-serif;
    font-size: 70px;
    font-weight:800;
    color: #f1f1f1;  

}

.container-tools {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
    display: flex;
    background:transparent ; 
   
}

.container-tools a{ 
    text-decoration: none;
}

.home-tools{
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    color: #f1f1f1;
    border: 2px solid #f1f1f1;
   border-radius: 5px;
    margin: 20px 15px;
    font-size: 13px;
   position: relative;
   background: #2777be;
  
   transition: 0.4s;
   

}
.description-tool{
  position: absolute;
  bottom: -20px;
  font-family: sans-serif;
  color: #f1f1f1;
}
.logo-icon-home{
    width: 50px; 
    transition: 0.4s; 
}



.home-tools:hover{
    background: #3e8cd0;
   
}
.home-tools:hover .logo-icon-home{ 
    transform: scale(1.2);
}





.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes flipInX {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    }
    @keyframes flipInX {
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
    } 


    @media screen and (max-width: 500px) {
      .home-page-title{
        font-size: 50px;
        margin-top: 100px;
      
      }
     
    }
    @media screen and (max-width: 1100px) {
      .home-page-title{
        margin-top: 200px;
      }
      .container-tools{
        margin-bottom: 300px;
      }
      
    }




   